<!DOCTYPE html>
<html lang="en">
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Apply</title>
</head>
<body>

<form action="{% url 'apply:apply' %}" method="POST">
    {% csrf_token %}
    <h4>Character Name:</h4><br>
    <input type="text" name="character_name"/><br>
    <h4>Email:</h4><br>
    <input type="text" name="email"/><br>
    <h4>Age:</h4><br>
    <input type="text" name="age"/><br>
    <h4>Favorite MMO:</h4><br>
    <input type="text" name="favoritemmo"/><br>
    <h4>Short summary about yourself:</h4><br>
    <textarea name="about_you" cols="40" rows="5"></textarea><br>
    <input type="submit" value="Submit"/><br>
</form>
</body>
{% endblock %}
</html>