{% extends 'posts/base.html' %}
{% block content %}
  <div class="container-fluid" style="margin: 100px;">
    <div class="well well-md">
      <h3>Login</h3><br />
      <form action="{% url 'userlogin' %}" class="text-center" method="POST" >
      {% csrf_token %}
        <div class="row">
          <div class="col-sm-6">
            <label for="usernameId">Username</label> <br />
            <input type="text" class="form-control" id="usernameId" placeholder="Username" name="name">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <label for="password1Id">Password</label>
            <input type="password" class="form-control" id="password1Id" placeholder="Password" name="passowrd">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <button type="submit" class="btn btn-default" id="submitButton">Login</button>
          </div>
        </div>
    </form>
  </div>
  <br />
  <br />
  {% if error %}
  {{ error }}
  {% endif %}
{% endblock %}
