{% extends 'posts/base.html' %}

{% block content %}
  <div class="container">
      <div class="text-center"></div>
        <h3>Latest News</h3>
        <div class="panel panel-default">
            {% for post in posts.all %}
            <div class="panel-body">
                <a href="{% url 'posts:post_details' post.id %}"> {{post.title}} </a>
            <br>
            {{post.pub_date_nice}}
            <br>
                <img src="{{ post.images.url }}"class="img-responsive center-block" style="max-height:250px;"/>
            <br>

        {{post.summary}}
        <br>
        <hr>
        {% endfor %}
            </div>
        </div>
  </div>
<br>

{% endblock %}
